
 * {
    box-sizing: border-box;
  }

 
 body {
     margin: 0px;
     background-image: url("https://wallpaperaccess.com/full/1166781.jpg"); 
 }

 img {
   max-width: 100%;
 }

.top-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

    .small-image {
        /* overflow: hidden; */
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 25%;
      }
    .small-image img {
        cursor: pointer;
      }

      /* Clear floats after the columns */
    .top-images:after {
        content: "";
        display: table;
        clear: both;
    }
    .bottom-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 60%;
      }
